.filters-reset {
  text-align: right;
}

.action-buttons .btn-group + .btn,
.action-buttons .btn + .btn-group {
  margin-left: 0.25rem;
}

.action-buttons .dropdown-menu {
  min-width: 12rem;
}

.estado-badge {
  min-width: 110px;
  display: inline-flex;
  justify-content: center;
}
